*{
 margin: 0;
 padding: 0;
}
body{
 font-size: 14px;
 line-height: 24px;
}
h1,h2,h3,h4,h5,h6{
 font-family: 'Source Sans Pro', sans-serif;
}
header{
 background-image: url('../image/lucid_onepage_source.png');
 background-size: cover;
 background-repeat: no-repeat;
 height: 500px;
 width: 100%;
}
header .div1,
header .div2{
 height: 380px;
 display: inline-block;
}
header .div1{
 width: 50%;
}
header .div2{
 width: 49%;
}
header .div1 #main{
 width: 45%;
 margin-left: 60px;
 margin-top: 30px;
 position: absolute;
}
header .div2 #link{
 height: 30px;
 margin-right: 60px;
 margin-top: 30px;
 position: absolute;
}
header .div1 #main h5{
 font-size: 14px;
 font-weight: bold;
 text-transform: uppercase;
 letter-spacing: 3px;
 line-height: 30px;
 color: rgb(0,141,212);
 margin-top: 50px;
}
header .div1 #main h2{
 margin-top: 10px;
 font-size: 38px;
 text-transform: capitalize;
 line-height: 45px;
 color: #fff;
 font-weight: 600;
}
header .div1 #main #discription{
 margin-top: 20px;
 font-size: 19px;
 font-weight: 400;
 line-height: 24px;
 color: #999999;
}
header .div1 #main #button{
 height: 40px;
 width: 100%;
 margin-top: 20px;
 display: inline-block;
}
header .div1 #main #button #btn1,
header .div1 #main #button #btn2{
 font-size: 16px;
 margin-right: 10px;
 border-radius: 3px;
 padding: 10px 35px;
 transition: 1s;
}
header .div1 #main #button #btn1{
 color: #fff;
 background-color: #008ed6;
 border:2px solid #008ed6;
}
header .div1 #main #button #btn1:hover{
 color: #008ed6;
 background-color: transparent;
 border:2px solid #008ed6;
}
header .div1 #main #button #btn2{
 color: #008ed6;
 background-color: transparent;
 border:2px solid #008ed6;
}

header .div1 #main #button #btn2:hover{
 color: #fff;
 background-color: #008ed6;
 border:2px solid #008ed6;
}

header .div2 #link a{
 padding-bottom: 5px;
 font-size: 14px;
 text-transform: uppercase;
 color:#fff;
 text-decoration: none;
 margin-right: 5px;
 border: none;
}
header .div2 #link .home,
header .div2 #link a:hover{
 height: 80px;
 width: 100%;
 background-image: url('../image/bottom.png');
 background-position: bottom;
 background-repeat: no-repeat;
}




.features{
 height: 400px;
 width: 100%;
 margin-top: 100px;
}
.features #title{
 width: 100%;
 padding: 20px 0;
 text-align: center;
}
.features #title h5{
 font-size: 14px;
 font-weight: 600;
 line-height: 24px;
 text-transform: uppercase;
 color:#008ed6
}
.features #title h1{
 font-size: 28px;
 font-weight: 600;
 line-height: 24px;
}

.features #container{
 margin-left: 2%;
 width: 98%;
 display: inline-block;
}
.features #container div{
 height: 300px;
 width: 24%;
 display: inline-block;
}
.features #container div img{
 height: 50px;
 position: absolute;
 margin: 0 9%;
}
.features #container div #main{
 margin-top: 80px;
 position: absolute;
 text-align: center;
}



.about{
 height: 600px;
 width: 100%;
}
.about div{
 height: 100%;
 display: inline-block;
}
.about #div1{
 width: 55%;
 background-image: url('../image/about-device.png');
 background-repeat: no-repeat;
 background-position: right;
 background-position-y: 0;
}
.about #div2{
 width: 44%;
 position: absolute;
}
.about #div2 #title{
 height: 200px;
 width: 100%;
}
.about #div2 #title h5{
 margin-top: 80px;
 font-size: 14px;
 font-weight: 600;
 line-height: 24px;
 text-transform: uppercase;
 color:#008ed6;
}
.about #div2 #title h1{
 font-size: 28px;
 font-weight: 600;
 line-height: 24px;
 margin-top: 10px;
}
.about #div2 #title img{
 margin-top: 20px;
}
.about #div2 p{
 font-size: 14px;
 line-height: 24px;
 font-weight: 500px;
 color: #999999;
}
.about #div2 #para{
 height: 10px;
 margin-top: 15px;
 display: block;
 padding: 10px 0;
 font-size: 14px;
 text-align: left;
}
.about #div2 #para span{
 padding-left: 5px;
}


.testimonials{
 height: 500px;
 width: 100%;
}
.testimonials div{
 height: 500px;
 display: inline-block;
}
.testimonials #div1{
 height: 500px;
 width: 35%;
 position: absolute;
}
.testimonials #div1 #title{
 height: 100px;
 margin: 80px 0 0 30px;
}
.testimonials #div1 #title h5{
 margin-top: 80px;
 font-size: 14px;
 font-weight: 600;
 line-height: 24px;
 text-transform: uppercase;
 color:#008ed6;
}
.testimonials #div1 #title h1{
 font-size: 28px;
 font-weight: 600;
 line-height: 24px;
 margin-top: 10px;
}
.testimonials #div1 p{
 height: 100px;
 font-size: 14px;
 line-height: 24px;
 font-weight: 500px;
 color: #999999;
 margin: 10px 0 0 30px;
}
.testimonials #div2{
 width: 64%;
 position: absolute;
 right: 0;
 background-image: url('../image/iphone.png');
 background-repeat: no-repeat;
 background-position: left;
}







@media only screen and (max-width:720px) {
 header{
 background-image: url('../image/about-device.png');
 background-color: #000;
 background-size: cover;
 background-repeat: no-repeat;
 height: 915px;
 width: 100%;
}
header .div2 #link{
 display: none;
}
header .div1 #main img{
 position: absolute;
 top: -170px;
 left: 30px;
}

header .div1 #main{
 width: 100%;
 margin: 200px auto;
 text-align: center;
}




.features{
 height: 1020px;
 width: 100%;
}
.features #title{
 width: 100%;
 padding: 20px 0;
 text-align: center;
}
.features #title h5{
 font-size: 18px;
 font-weight: 600;
 line-height: 24px;
 text-transform: uppercase;
 color:#008ed6
}
.features #title h1{
 margin-top: 10px;
 font-size: 32px;
 font-weight: 600;
 line-height: 24px;
}

.features #container{
 margin-left: 2%;
 width: 98%;
}
.features #container div{
 height: 200px;
 width: 98%;
 display: inline-block;
}
.features #container div img{
 height: 70px;
 position: absolute;
 margin: 0 40%;
}
.features #container div #main{
 margin-top: 80px;
 position: absolute;
 text-align: center;
}
.features #container div #main p{
 font-size: 17px;
 color: #0bf;
}




.about{
 height: 600px;
 width: 100%;
}
.about div{
 height: 100%;
}
.about #div1{
 width: 40%;
}
.about #div2{
 width: 55%;
 position: absolute;
}
.about #div2 #title{
 height: 180px;
 width: 100%;
}
.about #div2 #title h5{
 margin-top: 40px;
 font-size: 14px;
}
.about #div2 #title h1{
 font-size: 28px;
}
.about #div2 #title img{
 margin-top: 20px;
}
.about #div2 p{
 font-size: 14px;
}




.testimonials #div1{
 height: 500px;
 width: 50%;
 position: absolute;
}
.testimonials #div1 #title{
 height: 100px;
 margin: 50px 0 0 30px;
}


}